.event-date-warning {
  background: #ffdddd;
  color: #a40000;
}

.event-date-instruction {
  background: #ddddff;
  color: #0000a4;
}

.dashicons {
  vertical-align: text-bottom;
}

.event-details-wrapper
  .block-editor-default-block-appender
  textarea.block-editor-default-block-appender__content {
  margin: 0;
}

.editor-styles-wrapper .event-details-wrapper p {
  margin: 0;
}

.snt-events-event-settings select,
.snt-events-event-schema select {
  line-height: 20px !important;
}

.wp-block-snt-events-block.is-selected,
.wp-block-snt-events-block.has-child-selected {
  background: #f0f0f0;
}
